LINK                AND
useclass            AND
numview=1000        AND
driveb              AND
out=case2           AND
drivea              AND
noasym              AND
hostb=Li_lig        AND
hosta=Li_lig
